<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>243366784063-go9415nt4ct8kiel4nhh9djrvd41g8rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243366784063-go9415nt4ct8kiel4nhh9djrvd41g8rg</string>
	<key>API_KEY</key>
	<string>AIzaSyD9-kn74ZUhoNbbGq6DKYrZjirq3HvhKhc</string>
	<key>GCM_SENDER_ID</key>
	<string>243366784063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MarkoLehtola.TietoVisa</string>
	<key>PROJECT_ID</key>
	<string>tietovisa-ae400</string>
	<key>STORAGE_BUCKET</key>
	<string>tietovisa-ae400.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:243366784063:ios:57c84b62b3789825</string>
	<key>DATABASE_URL</key>
	<string>https://tietovisa-ae400.firebaseio.com</string>
</dict>
</plist>
